/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px 'Roboto Condensed', sans-serif; background:#fff; color:#333; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#333; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 100px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
}
    .header-top {
        position: relative;
        z-index: 5;
        min-height: 130px;
        background: url("../images/header/bg_header.jpg") no-repeat;
    }
        .main-logo {
            position: absolute;
            width: 17.2%;
            margin-left: 1.1%;
            background: url("../images/header/bg_main_logo.png") no-repeat;
            background-size: 100% 100%;
        }
            .main-logo img {
                width: 93.2%;
                max-width: 154px;
                margin: 6.5% 3.4% 12.5%;
            }
        .contact-box {
            float: right;
            margin: 10px 1.2% 0 0;
            font-family: 'Roboto', sans-serif;
            line-height: 1.2;
            text-align: center;
        }
                .contact-box .tel {
                    display: block;
                    font-size: 30px;
                    font-weight: bold;
                    color: #333;
                    letter-spacing: 1px;
                }
                .contact-box .text {
                    display: block;
                    margin-bottom: 3px;
                    font-size: 14px;
                }
                .wrap-btn-submit-green {
                    display: inline-block;
                    padding: 5px;
                    border: 1px solid #ccc;

                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                }
                    .wrap-btn-submit-green input {
                        padding: 6px 5px;
                        border: none;
                        border-top: 1px solid #D8FB88;
                        color: #525252;
                        text-transform: uppercase;
                        font: bold 23px 'Roboto', sans-serif;
                        cursor: pointer;
                        letter-spacing: 1px;

                        -webkit-box-shadow: inset -1px -1px 3px 0px rgba(0,0,0,0.4);
                        -moz-box-shadow: inset -1px -1px 3px 0px rgba(0,0,0,0.4);
                        box-shadow: inset -1px -1px 3px 0px rgba(0,0,0,0.4);

                        background: #bbf730; /* Old browsers */
                        background: -moz-linear-gradient(top, #bbf730 0%, #a0e500 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbf730), color-stop(100%,#a0e500)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #bbf730 0%,#a0e500 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, #bbf730 0%,#a0e500 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, #bbf730 0%,#a0e500 100%); /* IE10+ */
                        background: linear-gradient(to bottom, #bbf730 0%,#a0e500 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbf730', endColorstr='#a0e500',GradientType=0 ); /* IE6-9 */
                    }
                    .wrap-btn-submit-green input:hover {
                        background: #a0e500;
                    }
        .text-box {
            margin-left: 17.2%;
            padding-top: 13px;
            text-align: center;
            line-height: 1;
        }
            .text-box .text {
                display: block;
                font-size: 32px;
                letter-spacing: 1px;
                word-spacing: 4px;
            }
            .top-text {
                text-transform: uppercase;
                font-size: 36px;
            }
            .text-box > span span {
                color: #ED0011;
            }
    .box-callback-header {
        padding-bottom: 25px;
        background: url("../images/header/red_bg.jpg") no-repeat;
    }
        .inner-box {
            position: relative;
            width: 95%;
            max-width: 890px;
            margin: 0 auto;
        }
            a.link-download {
                position: relative;
                float: right;
                margin-top: 3px;
                color: #fff;
                font-size: 14px;
            }
                .link-download:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -30px;
                    top: -3px;
                    width: 25px;
                    height: 27px;
                    background: url("../images/header/triagle_right_icon.png") no-repeat;
                }
                .big-foto {
                    width: 100%;
                    margin-top: 7px;
                }
            .wrap-form-callback {
                position: absolute;
                top: 18%;
                right: 20px;
                padding: 15px 20px 5px;
                background: #EAEAEA;

                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
                .wrap-form-callback b,
                .wrap-form-callback > span {
                    display: block;
                    line-height: 1;
                }
                .wrap-form-callback b {
                    font: 24px 'Roboto', sans-serif;
                    color: #ee0010;
                    text-transform: uppercase;
                    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
                }
                .wrap-form-callback > span {
                    margin-bottom: 15px;
                    font-size: 18px;
                }
                    .wrap-form-callback > span strong {
                        text-decoration: underline;
                        font-weight: 400;
                    }
                .common-form {
                    display: block;
                }
                    .common-form > input,
                    .consultation-form > input,
                    .work-form > input,
                    .common-form textarea {
                        display: block;
                        width: 185px;
                        margin-bottom: 13px;
                        padding: 9px 0 9px 30px;
                        border: none;
                        font: 14px 'Roboto Condensed';
                        background: #fff  no-repeat 10px 12px;

                        -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                        box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);

                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }
                    .common-form textarea {
                        height: 100px;
                        background-image: url("../images/header/triagle_form_icon.png");
                        resize: none;
                    }
                    .common-form .name,
                    .work-form .name {
                        background-image: url("../images/header/enhabit_form_icon.png");
                    }
                    .common-form .tel,
                    .work-form .tel {
                        background-image: url("../images/header/tel_form_icon.png");
                    }
                    .wrap-btn-file {
                        overflow: hidden;
                        display: block;
                        margin-bottom: 8px;
                        color: #484747;
                        font-size: 16px;
                    }
                        .wrap-btn-file input {
                            display: none;
                        }
                        .wrap-btn-file img {
                            float: left;
                            margin: 0 10px 0 20px;
                        }
                    .wrap-btn-red {
                        display: inline-block;
                        margin-bottom: 5px;

                        -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                        box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);

                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }
                        .wrap-btn-red input {
                            width: 211px;
                            margin: 3px;
                            border: none;
                            font-size: 25px;
                            color: #fff;
                            text-align: center;
                            text-transform: uppercase;
                            font-family: 'Roboto', sans-serif;

                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;

                            background: #fd3e4c; /* Old browsers */
                            background: -moz-linear-gradient(top,  #fd3e4c 0%, #de0b1a 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd3e4c), color-stop(100%,#de0b1a)); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top,  #fd3e4c 0%,#de0b1a 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top,  #fd3e4c 0%,#de0b1a 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top,  #fd3e4c 0%,#de0b1a 100%); /* IE10+ */
                            background: linear-gradient(to bottom,  #fd3e4c 0%,#de0b1a 100%); /* W3C */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3e4c', endColorstr='#de0b1a',GradientType=0 ); /* IE6-9 */
                        }
                        .wrap-btn-red input:hover {
                            background: #de0b1a;
                        }
    .box-action {
        position: relative;
        z-index: 5;
        padding: 10px 0 17px;
        background: url("../images/header/wall_bg.jpg") no-repeat;
    }
        .img-girl {
            position: absolute;
            width: 50%;
            max-width: 412px;
            margin: -370px 0 0 6%;
            vertical-align: top;
        }
        .description-action {
            position: relative;
            max-width: 590px;
            margin-left: 413px;
            padding: 17px 0 20px;
            background: url("../images/header/fon_action.png") no-repeat;
            text-align: center;
        }
            .description-action span {
                display: block;
            }
            .description-action .top-text {
                font-size: 22px;
                font-style: italic;
                color: #000;
            }
            .description-action .important-text {
                color: #980F12;
                text-transform: uppercase;
                font-size: 23px;
                letter-spacing: 1px;
            }
            .description-action .bottom-text {
                font-size: 19px;
                font-style: italic;
                font-weight: 300;
            }
            .description-action:after {
                content: '';
                display: block;
                position: absolute;
                top: 81px;
                right: 15px;
                width: 144px;
                height: 96px;
                background: url("../images/header/tools.png") no-repeat;
            }
    .wrap-repair {
        position: relative;
        z-index: 10;
    }
        .wrap-repair:before,
        .wrap-repair:after {
            content: '';
            float: left;
            width: 9.4%;
            height: 111px;
            background: url("../images/header/fon_over_mramor_left.jpg") no-repeat;
            background-size: 100% 100%;
        }
        .wrap-repair:after {
            float: right;
            background-image: url("../images/header/fon_over_mramor_right.jpg");
        }
        .form-repair {
            float: left;
            width: 81.2%;
            padding: 31px 0 25px;
            background: url("../images/header/mramor.jpg") no-repeat;
            background-size: 100% 100%;
        }
            .form-repair .wrap-btn-submit-green {
                width: 27.7%;
                margin-left: 3.85%;
                background: #fff;

                -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
                -moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
                box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
            }
            .form-repair > input {
                width: 22.2%;
                padding: 9px 0 9px 30px;
                margin-left: 3.85%;
                border: none;
                font: 14px 'Roboto Condensed';
                background: #fff no-repeat 10px 12px;
                -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                -moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.75);
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
    .statistics-company {
        position: relative;
        padding-top: 35px;
        margin-bottom: 10px;
        text-align: center;
    }
        .img-house {
            position: relative;
            width: 90%;
            max-width: 779px;
        }
        .img-lenta {
            position: absolute;
            left: 0;
            width: 100%;
        }
        .list-block-statistics {
            position: absolute;
            top: 27%;
            z-index: 10;
            display: inline-block;
            max-width: 793px;
            width: 100%;
        }
            .list-block-statistics li {
                display: inline-table;
                margin-left: 3.78%;
                width: 20.56%;
                height: 166px;
                border: 4px solid #C3101D;
                background: #fff;
                vertical-align: middle;

                -webkit-border-radius: 90px;
                -moz-border-radius: 90px;
                border-radius: 90px;
            }
            .list-block-statistics li:first-child {
                margin-left: 0;
            }
                .list-block-statistics li span {
                    display: table-cell;
                    height: 100%;
                    font-size: 25px;
                    font-weight: bold;
                    line-height: 1;
                    vertical-align: middle;
                    color: #323232;
                }
            .list-block-statistics li.first span,
            .list-block-statistics li.second strong,
            .list-block-statistics li.third strong {
                font-size: 30px;
                font-weight: bold;
            }
    .our-offers {
        overflow: hidden;
        background: url("../images/content/inter_sofa_fon.jpg") no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
        .our-offers:after {
            content: '';
            display: block;
            width: 100%;
            height: 12px;
            background: url("../images/content/border_bottom.jpg") repeat-x;
        }
        .header-offers {
            padding: 4px 0 5px;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            background: #AFF018;
        }
        .wrap-list-foto-repair {
            margin: 30px 0;
        }
            .list-foto-repair {
                overflow: hidden;
                display: inline-block;
                width: 95%;
                max-width: 930px;
            }
                .list-foto-repair li {
                    float: left;
                    width: 16.1%;
                    margin-left: 4.8%;
                    max-width: 150px;
                }
                .list-foto-repair li:first-child {
                    margin-left: 0;
                }
                    .list-foto-repair img,
                    .list-work-plan img {
                        display: block;
                        width: 100%;
                    }
                    .list-foto-repair span,
                    .list-work-plan span {
                        font-size: 18px;
                        color: #323232;
                    }
        .our-offers .wrap-btn-red {
            margin-bottom: 15px;
        }
        .header-bg-white {
            padding: 11px 0 12px;
            font-size: 24px;
            text-transform: uppercase;
            color: #323232;
            background: #fff;
        }
            .header-bg-white span {
                color: #e10b0b;
            }
        .wrap-form-consultation {
            padding: 20px 0;
        }
            .tooltip-form {
                display: inline-block;
                background: url("../images/content/bg_tooltip.png") no-repeat;
                width: 167px;
                height: 186px;
                padding: 0 35px 0 15px;
                font-size: 22px;
            }
                .tooltip-form span {
                    height: 186px;
                    display: table-cell;
                    vertical-align: middle;
                }
            .consultation-form {
                display: inline-block;
                width: 222px;
                padding: 28px 18px 20px 23px;
                background: url("../images/content/bg_form_fon.png") no-repeat;
                background-size: 100% 100%;
            }
                .consultation-form .wrap-btn-submit-green {
                    display: block;
                    margin-top: 18px;
                    background: #fff;
                }
                .consultation-form .wrap-btn-submit-green input {
                    display: block;
                    width: 100%;
                }
    .box-benefits {
        padding-top: 35px;
        background: url("../images/header/wall_bg.jpg") repeat-y;
    }
        .box-benefits:after {
            content: '';
            display: block;
            width: 100%;
            height: 12px;
            background: url("../images/content/border_bottom.jpg") repeat-x;
        }
        .header-benefits {
            padding: 5px 0;
            background: rgba(255, 255, 255, 0.8);
            font: bold 36px 'Roboto', sans-serif;
            text-transform: uppercase;
            text-align: center;
        }
        .list-benefits {
            margin-top: 40px;
        }
            .list-benefits li {
                position: relative;
                margin: 0 1% 38px;
            }
                .list-benefits li:before,
                .list-benefits li:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 18px;
                    top: -40px;
                    height: 40px;
                    background: url("../images/content/kanat.png") no-repeat;
                }
                .list-benefits li:before {
                    left: 30px;
                }
                .list-benefits li:after {
                    right: 30px;
                }
                .list-benefits li img {
                    display: block;
                }
                .list-benefits header {
                    padding: 5px 15px;
                    font-size: 24px;
                    color: #fff;
                    background: #43B71F;
                    text-transform: uppercase;
                }
                .list-benefits p {
                    padding: 12px 16px 16px;
                    background: #fff;
                    font: 16px 'PT Sans', arial, sans-serif;
                    line-height: 1.2;
                }
            .list-benefits .first {
                z-index: 7;
                max-width: 590px;
                margin-left: 28.35%;
            }
                .list-benefits .first .description-benefits {
                    width: 70.3%;
                }
                .list-benefits .first img {
                    float: right;
                    width: 29.7%;
                }
                    .list-benefits .first p {
                        margin-right: 1%;
                    }
            .list-benefits .second {
                float: right;
                z-index: 6;
                max-width: 675px;
            }
                .list-benefits .second:after {
                    top: -260px;
                    height: 260px;
                }
                .list-benefits .second .description-benefits {
                    float: right;
                    width: 69.3%;
                }
                .list-benefits .second img {
                    float: left;
                    width: 30.7%;
                }
                    .list-benefits .second p {
                        margin-left: 1%;
                        padding-bottom: 11px;
                    }
            .list-benefits .third {
                float: right;
                z-index: 5;
                max-width: 655px;
            }
                .list-benefits .third .description-benefits {
                    float: right;
                    width: 67.9%;
                }
                .list-benefits .third img {
                    float: right;
                    width: 32.1%;
                    max-height: 185px;
                }
                    .list-benefits .third p {
                        margin-right: 1%;
                        padding-right: 31px;
                    }
            .list-benefits .fourth {
                overflow: visible;
                z-index: 4;
                max-width: 655px;
            }
                .list-benefits .fourth:before {
                    display: none;
                }
                .list-benefits .woman-foto {
                    display: block;
                    position: relative;
                }
                    .list-benefits .woman-foto:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        display: block;
                        max-width: 333px;
                        width: 50.8%;
                        height: 826px;
                        margin-left: -1.5%;
                        background: url("../images/content/woman.png") no-repeat bottom;
                        background-size: 100%;
                    }
                .list-benefits .fourth > div {
                    overflow: hidden;
                }
                .list-benefits .fourth .description-benefits {
                    float: right;
                    width: 69.7%;
                }
                .list-benefits .fourth img {
                    float: right;
                    width: 30.3%;
                    max-height: 184px;
                }
                    .list-benefits .fourth p {
                        margin-right: 1%;
                    }
            .list-benefits .fifth {
                float: right;
                z-index: 3;
                max-width: 310px;
            }
                .list-benefits .fifth:before {
                    top: -70px;
                    height: 70px;
                }
                .list-benefits .fifth img {
                    width: 100%;
                }
                    .list-benefits .fifth p {
                        margin-top: 1.5%;
                    }
            .list-benefits .sixth {
                max-width: 655px;
                z-index: 2;
            }
                .list-benefits .sixth .description-benefits {
                    float: right;
                    width: 68.7%;
                }
                .list-benefits .sixth img {
                    float: right;
                    width: 31.3%;
                    max-height: 185px;
                }
                    .list-benefits .sixth p {
                        margin-right: 1%;
                    }
            .list-benefits li.clear,
            .list-benefits li.clear {
                margin: 0;
            }
                .list-benefits li.clear:before,
                .list-benefits li.clear:after {
                    display: none;
                }
    .box-work-plan {
        position: relative;
        padding-top: 15px;
        background: url("../images/content/bg_wall2.png") no-repeat;
        background-size: 100% 100%;
    }
        .box-work-plan:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            bottom: -134px;
            right: 0;
            width: 166px;
            height: 241px;
            background: url("../images/content/painter.png") no-repeat;
        }
        .box-work-plan:after {
            content: '';
            position: relative;
            top: 10px;
            z-index: 5;
            display: block;
            width: 100%;
            height: 12px;
            background: url("../images/content/border_bottom.jpg") repeat-x;
        }
        .header-work-plan {
            margin-bottom: 10px;
            font-size: 36px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 0px 3px 3px rgba(22, 22, 22, 1);
        }
        .wrap-list-work-plan {
            overflow: hidden;
            text-align: center;
        }
            .list-work-plan {
                overflow: hidden;
                display: inline-block;
                width: 95%;
                max-width: 960px;
            }
                .list-work-plan li {
                    float: left;
                    max-width: 142px;
                    width: 14.6%;
                    margin-left: 2%;
                }
                .list-work-plan li:first-child {
                    margin-left: 0;
                }
        .wrap-form-work {
            text-align: center;
        }
            .tooltip-work {
                position: relative;
                width: 149px;
                height: 170px;
                padding: 0;
                margin-right: 30px;
                background: url("../images/content/bg_romb.png") no-repeat;
                text-align: center;
                line-height: 1.2;
                vertical-align: top;
            }
                .tooltip-work:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -44px;
                    top: 47%;
                    width: 44px;
                    height: 31px;
                    background: url("../images/content/triagle_big.png") no-repeat;
                }
                .tooltip-work span {
                    display: table-cell;
                    height: 170px;
                    vertical-align: middle;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .tooltip-work strong {
                    color: #d50809;
                    text-decoration: underline;
                }
            .work-form {
                display: inline-block;
                width: 220px;
                padding: 25px 37px 70px;
                margin-top: 70px;
                background: url("../images/content/bg_form_work.png") no-repeat;
            }
                .work-form > input {
                    width: 190px;
                }
                .work-form .wrap-btn-red {
                    border-radius: 0;
                    background: #fff;
                }
                    .work-form .wrap-btn-red input {
                        width: 207px;
                        margin: 5px;
                        border-radius: 0;
                    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/